<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.devgen.model.Car" autowire="byType">
        <property name="brand" value="BMW"></property>
        <constructor-arg value="Snova" />
<!--        <property name="engine" ref="engine"/>-->
    </bean>

<!--    <bean id="engine" class="com.devgen.model.Engine">  </bean>-->
    <bean id="engine1" class="com.devgen.model.TataEngine" primary="true" lazy-init="true" init-method="lastMethod"> <constructor-arg name="enginePart">
        <list>
            <value>
                Engine 1
            </value>
            <value>
                Engine 2
            </value>
        </list>
    </constructor-arg>  </bean>
    <bean id="engine2" class="com.devgen.model.VolvoEngine" > </bean>
</beans>